{
  "extends": [
    "fbjs",
    "react-app",
    "prettier"
  ],
  "plugins": [
    "react-hooks",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error",
    "react-hooks/rules-of-hooks": "error"
    // "react-hooks/exhaustive-deps": "off"
  },
  "parser": "babel-eslint"
}
